/* general */
:root {
	--color-white: #ffffff;
	--color-dark-text: #161012;
	--color-dark-grey: #6b7376;
	--color-text-grey: #b6bbc1;
	--color-headers: #eaeaea;
	--color-contact-hover: #e9ebeb;
	--color-light-icons: #b1b1b1;
	--color-sent-message: #d5f9ba;
	--color-notification: #8edafc;
    --background: linear-gradient(0deg, rgba(220,219,211,1) 85%, rgba(0,150,136,1) 85%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

/* contenitori */

.wrapper{
 height: 100vh;
 width: 100%;
 background: rgb(220,219,211);
 background: var(--background);
 padding:20px
}

.my-bg-white{
    background-color: var(--color-white);
   
}
.h0{
    height: 0;
}

.chat{
    height: 90%;
    padding-top: 20px;
  
}
/* background */
.my-header{
    background-color: var(--color-headers);
}

.my-bg-info{
    background-color: var(--color-notification);
}

/* contatti */
.icon{
    color: var(--color-light-icons);
    padding-right: 5px;
    padding-left: 5px;
}

.icon:hover{
    color: var(--color-dark-grey);
}
.contatto{
    height: 70px;
    display: flex;
    align-items: center;
    align-content: center;
}

.contatto-lista:hover{
    background-color: var(--color-contact-hover);
    cursor: pointer;
}
.img-contatto{
    width: 50px;
    height: 50px;
    border-radius: 50%;  
    overflow: hidden;
}

.img-contatto img{
    width: 100%;
  
}

.contatto-text{
    line-height: 1.2;
}

.orario{
   margin-top: -40px;
   color: var(--color-text-grey);
}

/* chat */

.sent-messages {
    background-color:var(--color-sent-message); /* Colore sfondo dei messaggi inviati */
    text-align: right;
}

.input-box {
    display: flex;
    padding: 10px;
}

/* general */
:root {
	--color-white: #ffffff;
	--color-dark-text: #161012;
	--color-dark-grey: #868f92;
	--color-text-grey: #b6bbc1;
	--color-headers: #eaeaea;
	--color-contact-hover: #e9ebeb;
	--color-light-icons: #b1b1b1;
	--color-sent-message: #d5f9ba;
	--color-notification: #8edafc;
    --background: linear-gradient(0deg, rgba(220,219,211,1) 85%, rgba(0,150,136,1) 85%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

.active{
    background-color:var(--color-dark-grey)!important;
}
/* contenitori */

.wrapper{
 height: 100vh;
 width: 100%;
 background: rgb(220,219,211);
 background: var(--background);
 padding:20px
}

.my-bg-white{
    background-color: var(--color-white);
   
}
.h0{
    height: 0;
}

.chat{
    height: 90%;
    padding-top: 20px;
    width: 100%;
}

.col-12.col-md-8{
    display: block;
}
/* background */
.my-header{
    background-color: var(--color-headers);
}

.my-bg-info{
    background-color: var(--color-notification);
}

.my-bg-chat{
    background-color: rgb(253, 137, 253);
}

.bg-input-bar{
    background-color: var(--color-text-grey);
}
/* contatti */
.icon{
    color: var(--color-light-icons);
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.my-dark-gray{
    color: var(--color-dark-grey);
}

.icon:hover{
    color: var(--color-dark-grey);
}
.contatto{
    height: 70px;
    display: flex;
    align-items: center;
    align-content: center;
}

.contatto-lista:hover{
    background-color: var(--color-contact-hover);
    cursor: pointer;
}
.img-contatto{
    width: 50px;
    height: 50px;
    border-radius: 50%;  
    overflow: hidden;
}

.img-contatto img{
    width: 100%;
  
}

.contatto-text{
    line-height: 1.2;
}

.orario{
   margin-top: -40px;
   color: var(--color-text-grey);
}

/* chat */

.text-received{
    width:250px;
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 10px;
    float: left;
    clear: both;
}

.text-sent{
    width:250px;
    background-color: var(--color-sent-message);
    border-radius: 10px;
    padding: 10px;
    float: right;
    display: flex;
    clear: both;
    
}
.debug{
    border: 2px solid black;
}

.text-received{
    width:250px;
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 10px;
    float: left;
}

.text-sent{
    width:250px;
    background-color: var(--color-sent-message);
    border-radius: 10px;
    padding: 10px;
    float: right;
    word-wrap: break-word;
    
}

.fa-microphone:active{
    color: red;
}
.debug{
    border: 2px solid black;
}
@media screen and (max-width: 1024px) {
    body{
        font-size: 0.8em;
    }

}
@media screen and (max-width: 767px) {
    .col-12.col-md-8 {
        display: none;
      }
    
      .container{
      margin: 0 auto;
      overflow-x: hidden;
       
       
      }
      /* Mostra solo la lista dei contatti a larghezza <= 767px */
      
}