/* general */
:root {
	--color-white: #ffffff;
	--color-dark-text: #161012;
	--color-dark-grey: #6b7376;
	--color-text-grey: #b6bbc1;
	--color-headers: #eaeaea;
	--color-contact-hover: #e9ebeb;
	--color-light-icons: #b1b1b1;
	--color-sent-message: #d5f9ba;
	--color-notification: #8edafc;
    --background: linear-gradient(0deg, rgba(220,219,211,1) 85%, rgba(0,150,136,1) 85%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
}

/* contenitori */

.wrapper{
 height: 100vh;
 width: 100%;
 background: rgb(220,219,211);
 background: var(--background);
 padding:20px
}

.my-bg-white{
    background-color: var(--color-white);
   
}
.h0{
    height: 0;
}

.chat{
    height: 90%;
    padding-top: 20px;
  
}
/* background */
.my-header{
    background-color: var(--color-headers);
}

.my-bg-info{
    background-color: var(--color-notification);
}

/* contatti */
.icon{
    color: var(--color-light-icons);
    padding-right: 5px;
    padding-left: 5px;
}

.icon:hover{
    color: var(--color-dark-grey);
}
.contatto{
    height: 70px;
    display: flex;
    align-items: center;
    align-content: center;
}

.contatto-lista:hover{
    background-color: var(--color-contact-hover);
    cursor: pointer;
}
.img-contatto{
    width: 50px;
    height: 50px;
    border-radius: 50%;  
    overflow: hidden;
}

.img-contatto img{
    width: 100%;
  
}

.contatto-text{
    line-height: 1.2;
}

.orario{
   margin-top: -40px;
   color: var(--color-text-grey);
}

/* chat */

.sent-messages {
    background-color:var(--color-sent-message); /* Colore sfondo dei messaggi inviati */
    text-align: right;
}

.input-box {
    display: flex;
    padding: 10px;
}

/* general */
:root {
	--color-white: #ffffff;
	--color-dark-text: #161012;
	--color-dark-grey: #868f92;
	--color-text-grey: #b6bbc1;
	--color-headers: #eaeaea;
	--color-contact-hover: #e9ebeb;
	--color-light-icons: #b1b1b1;
	--color-sent-message: #d5f9ba;
    --color-received-message:white;
	--color-notification: #8edafc;
    --background: linear-gradient(0deg, rgba(220,219,211,1) 85%, rgba(0,150,136,1) 85%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lato', sans-serif;
    color: var(--color-dark-text);
}

.active{
    background-color:var(--color-dark-grey)!important;
}

.text-darkmode{
    color: var(--color-dark-text);
}

.larger-font {
    font-size: 1.2em;
  }
  .smaller-font {
    font-size: 0.8em;
  }
  
  
  
  
  
  
/* contenitori */

.wrapper{
 height: 100vh;
 width: 100%;
 background: rgb(220,219,211);
 background: var(--background);
 padding:20px
}

.my-bg-white{
    background-color: var(--color-white);
   
}
.h0{
    height: 0;
}
.border-main{
   box-shadow: -1px 0px 3px 0px gray;
}
.chat{
    height: 90%;
    padding-top: 20px;
    width: 100%;
}

.col-12.col-md-8{
    display: block;
}
/* background */
.my-header{
    background-color: var(--color-headers);
}

.my-bg-info{
    background-color: var(--color-notification);
}

.my-bg-chat{
    background-image: url(../img/mine.jpg);
}

.bg-input-bar{
    background-color: var(--color-text-grey);
}

/* splash page */
.splash {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgb(63,94,251);
    background: radial-gradient(circle, rgba(220,219,211,1) 0%, rgba(0,150,136,1), rgba(3,0,1,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .splash h1 {
    font-size: 4em;
    font-weight: bold;
    color:var(--color-white);
    text-shadow: 2px 2px 5px black;
   
  }
  
/* contatti */
.icon{
    color: var(--color-light-icons);
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.my-dark-gray{
    color: var(--color-dark-grey);
}

.icon:hover{
    color: var(--color-dark-grey);
}
.contatto{
    height: 70px;
    display: flex;
    align-items: center;
    align-content: center;
    color: var(--color-dark-text);
}

.contatto-lista:hover{
    background-color: var(--color-contact-hover);
    cursor: pointer;
}
.img-contatto{
    width: 50px;
    height: 50px;
    border-radius: 50%;  
    overflow: hidden;
}

.img-contatto img{
    width: 100%;
  
}

.contatto-text{
    line-height: 1.2;
    
}

.orario{
   margin-top: -40px;
   color: var(--color-text-grey);
}

.orario-msg{
    margin-bottom:-10px;
    color: var(--color-text-grey);
    font-size: 0.8em;
    display: flex;
    align-items: end;
 }

/* chat */
.intestazione{
    color: var(--color-dark-text);
}
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:var(--color-light-icons); 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:var(--color-dark-grey); 
  }
.text-received{
    width:250px;
    background-color: var(--color-white);
    border-radius: 10px;
    padding: 10px;
    float: left;
    clear: both;
}

.text-sent{
    width:250px;
    background-color: var(--color-sent-message);
    border-radius: 10px;
    padding: 10px;
    float: right;
    display: flex;
    clear: both;
    
}


.text-received{
    width:250px;
    background-color: var( --color-received-message);
    border-radius: 10px;
    padding: 10px;
    float: left;
}

.text-sent{
    position: relative;
    width:250px;
    background-color: var(--color-sent-message);
    border-radius: 10px;
    padding: 10px;
    float: right;
    word-wrap: break-word;
    
}
.dropdown{
    right:15px;
    margin-top: 30px;
}
.fa-microphone:active{
    color: red;
}

/* darkmode */
.dark-mode {
        --color-white: #1a1a1a;
        --color-dark-text: #ffffff;
        --color-dark-grey: #7a7a7a;
        --color-text-grey: #c7c7c7;
        --color-headers: #585858;
        --color-contact-hover: #969696;
        --color-light-icons: #b1b1b1;
        --color-sent-message: #d5f9ba;
        --color-received-message:white;
        --color-notification: #8edafc;
        --background: linear-gradient(0deg, rgb(8, 8, 8) 85%, rgba(0,150,136,1) 85%); 
  }

@media screen and (max-width: 1024px) {
    body{
        font-size: 0.8em;
    }

}
@media screen and (max-width: 767px) {
.contatto-text {
    width: auto;
}

.col-12 .col-md-4{
    overflow-y: hidden;
}

.intestazione{
    display: none;
}
}