<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,300;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    />
    <link rel="stylesheet" href="css/style.css" />
    <title>Bollzapp</title>
  </head>
  <body>
    <div id="app">
      <div class="wrapper">
        <div class="container h-100">
          <div class="row h-100 flex-nowrap">
            <!-- COLONNA LISTA CONTATTI -->

            <div class="col-12 col-md-4 my-bg-white">
              <div class="row h-100 d-flex flex-column flex-nowrap">
                <!-- colonna profilo -->
                <div class="col-12 my-header contatto py-2">
                  <div class="img-contatto">
                    <img src="img/avatar_io.jpg" alt="avatar io" />
                  </div>
                  <span class="px-1 fw-bold w-75">Sara</span>
                  <div class="icon">
                    <i class="fa-solid fa-circle-notch"></i>
                  </div>
                  <div class="icon"><i class="fa-solid fa-message"></i></div>
                  <div class="icon">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                  </div>
                </div>

                <!-- colonna notifiche -->
                <div class="col-12 contatto my-bg-info py-2">
                  <div
                    class="img-contatto text-center bg-light d-flex justify-content-center align-items-center"
                  >
                    <i class="fa-solid fa-bell-slash icon"></i>
                  </div>
                  <span class="px-2 fw-bold w-75"
                    >Ricevi notifiche di nuovi messaggi
                    <br />
                    <a href="#" class="fw-normal">Attiva notifiche desktop</a>
                  </span>
                </div>

                <!-- colonna search -->
                <div class="col-12">
                  <div class="input-group py-2 flex-nowrap border-0">
                    <span class="input-group-text border-0 bg-transparent"
                      ><i class="fa-solid fa-magnifying-glass"></i>
                    </span>
                    <input
                      type="text"
                      class="form-control border-0"
                      placeholder="Cerca o inizia una nuova chat"
                      aria-label="Username"
                      aria-describedby="addon-wrapping"
                      v-model="searchContact"
                    />
                  </div>
                </div>

                <!-- colonna contatti -->
                <div class="col-12 flex-grow-1 overflow-y-auto h0 p-0">
                  <div
                    class="contatto w-100 contatto-lista px-2"
                    v-for="(contact,index) in filterContacts()"
                    :key="contact.id"
                    @click="seleziona(contact.id)"
                    :class="{ 'active': contact.id === activeContactId }"
                  >
                    <div class="img-contatto">
                      <img :src="contact.avatar" :alt="contact.name" />
                    </div>
                    <p class="px-2 mt-3 contatto-text w-75">
                      <span class="fw-bold">{{contact.name}}</span>
                      <br />
                      <span class=""
                        >{{contact.messages[contact.messages.length
                        -1].message}}</span
                      >
                    </p>
                    <span class="orario small"
                      >{{
                      formatTime(contact.messages[contact.messages.length-1].date)
                      }}</span
                    >
                  </div>
                </div>
              </div>
            </div>

            <!-- COLONNA SEZIONE CHAT -->

            <!-- sezione chat -->
            <div class="col-12 col-md-8 my-bg-white">
              <div class="row h-100 d-flex flex-column flex-nowrap">
                <!-- head chat -->
                <div class="col-12 my-header contatto" v-if="selectedContact">
                  <div class="img-contatto">
                    <img
                      :src="selectedContact.avatar"
                      :alt="selectedContact.name"
                    />
                  </div>
                  <p class="px-2 mt-3 contatto-text w-75">
                    <span class="fw-bold">{{selectedContact.name}}</span>
                    <br />
                    <span class=""
                      >Ultimo accesso oggi alle {{
                      formatTime(selectedContact.messages[selectedContact.messages.length-1].date)
                      }}
                    </span>
                  </p>
                  <!-- icone -->
                  <div class="d-flex w-25 justify-content-end">
                    <div class="icon">
                      <i class="fa-solid fa-magnifying-glass px-2"></i>
                    </div>
                    <div class="icon">
                      <i class="fa-solid fa-paperclip px-2"></i>
                    </div>
                    <div class="icon">
                      <i class="fa-solid fa-ellipsis-vertical px-2"></i>
                    </div>
                  </div>
                </div>

                <!-- main chat -->

                <div
                  class="col-12 flex-grow-1 my-bg-chat p-0 overflow-y-auto h0"
                >
                  <div class="chat">
                    <div
                      class="message"
                      v-for="(message, index) in selectedContact.messages"
                      :key="index"
                    >
                      <div
                        v-if="message.status === 'received'"
                        class="text-received mx-5 my-2"
                      >
                        <div>{{ message.message }}</div>
                      </div>
                      <div v-if="message.status === 'sent'" class="text-sent mx-5 my-2">
                        {{ message.message }}
                        <button class="btn" @click="showdropdown(index)">
                            <i class="fa-solid fa-chevron-down position-relative"></i>
                        </button>
                    
                        <div v-if="message.showDropdown" class="position-absolute dropdown bg-light">
                            <div class="px-3 py-2">
                                <a href="#" class="text-decoration-none text-black" @click="deleteMessage(message)">Cancella messaggio</a><br />
                                <a href="#" class="text-decoration-none text-black">info</a>
                            </div>
                        </div>
                    </div>
                    </div>
                  </div>
                </div>

                <!-- barra di input -->
                <div class="bg-input-bar">
                  <div class="input-group border-0 debug flex-nowrap py-2">
                    <span class="input-group-text border-0 bg-transparent"
                      ><i
                        class="fa-regular fa-face-smile fa-xl icon my-dark-gray"
                      ></i
                    ></span>

                    <input
                      type="text"
                      class="form-control border-0 rounded-2"
                      placeholder="Scrivi messaggio"
                      aria-label="Username"
                      v-model="newMessage"
                      @keyup.enter="sendMessage"
                    />
                    <span class="p-2"
                      ><i
                        class="fa-solid fa-microphone fa-xl icon my-dark-gray"
                      ></i
                    ></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js" type="module"></script>
  </body>
</html>
